*
{
    margin: 0;
}
header
{
    background-color: #4E885C;
    color: orange;
    text-align: center;
    height: 110px;
    padding-bottom: 30px;
    
}
.lewy
{
    background-color: #72A37D;
    width: 30%;
    height: 300px;
    float: left;
}
main
{
    background-image: url("pizza.png");
    background-color: #A2C3A9;
    width: 40%;
    height: 300px;
    float: left;
}
.prawy
{
    background-color: #72A37D;
    text-align: center;
    width: 30%;
    height: 300px;
    list-style-position: inside;
    float: left;
}
.dolny
{
    background-color: #A2C3A9;
    text-align: center;
    height: 250px;
    clear: both;
}
footer
{
    background-color: #4E885C;
    color: orange;
}
.prawy p a
{
    background-color: orange;
    color: green;
    padding: 15px;
    clear: both;
}