*
{
    margin: 0;
}
.baner img
{
    height: 90%;
}
.baner
{
    background-color: #1C59A7;
    color: white;
    text-align: center;
    height: 80px;
}
.panel-lewy
{
    background-color: #3A70B5;
    width: 33%;
    height: 200px;
    float: left;
}
.panel-srodkowy
{
    background-color: #5A8AC8;
    width: 33%;
    height: 200px;
    float: left;
}
.panel-prawy
{
    background-color: #86ACDD;
    text-align: center;
    width: 34%;
    height: 200px;
    float: left;
}
.panel-dolny
{
    background-color: #86ACDD;
    text-align: center;
    height: 300px;
    clear: both;
}
footer
{
    background-color: #1C59A7;
    color: white;
}
.panel-prawy a
{
    background-color: yellow;
    color: blue;
    padding: 10px;
}