body
{
    font-family: Helvetica;
}
#gorny1
{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: left;
}
#gorny2
{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    float: left;
}
#baner
{
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
    clear: both;
}

#glowna-lewy
{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: left;
}
#glowna-prawy
{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: left;
}
#gorny2 a
{
    background: image("cukierki1.jpg");
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150px;
    text-decoration: none;
}
h1
{
    letter-spacing: 20px;
    /*font-size: 250px;*/
}
#tlo
{
    background-color: rgb(146, 184, 112);
}
footer
{
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
    clear: both;
}
table
{
    border: 2px dashed green;
    margin: 30px;
    padding: 20px;
}
td
{
    border: 2px dashed green;
    margin: 30px;
    padding: 20px;
}
#gorny1 a
{
    text-decoration: none;
}